.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a{
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.bg-main {
  background-color: #17345f;
  color: white;
}
.bg-light{
  background-color: #F9F9F9 !important; 
}
.bg-gray {
  background-color: #6c757d;
}
.blog-details {
  position: absolute;
  left: -50%;
  top: 10%;
  padding: 1.5rem;
}
.brad-0 {
  border-radius: 0;
}
.br-1{
  border: 1px solid rgb(75, 75, 75) !important;
}
.bg-transp{
  background: transparent !important;
  color: #282c34 !important;
}
.btn-wide {
  width: 10rem;
  height: 2.5rem;
  background-color: #ea4335;
  color: #fff;
}
.content-right {
  justify-content: flex-end;
}
/* .download-image {
  width: 70%;
  height: initial;
} */
.download-links{
  
}
.download-info {
    color: #808080;
}
.expert-image {
  border-radius:50%;
  width: 85%;
  height: auto;
  margin: auto;
}
.fw-700 {
  font-weight: 700;
}
.hero-image {
  width: 670px;
  height: 500px;
}
.hero-title {
  font-weight: 700 !important;
  font-size: 64px;
}
.info-image {
  width: 350px;
  height: 250px;
}
li {
  padding: 0.2rem;
}
.logo {
  height: 3rem;
}
.mt-6 {
  margin-top: 4rem;
}
.mt-7 {
  margin-top: 4.5rem;
}
.mt-15 {
  margin-top: 9rem;
}
.mb-6 {
  margin-bottom: 4rem;
}
.mb-15 {
  margin-bottom: 9rem;
}
.ml-6 {
  margin-left: 4rem;
}
.ml-7 {
  margin-left: 4.5rem;
}
.mt-15 {
  margin-top: 9rem;
}
.ml-15 {
  margin-left: 9rem;
}
.ml-17 {
  margin-left: 10rem;
}
.ml-18 {
  margin-left: 10.5rem;
}
.ml-20 {
  margin-left: 11.5rem;
}
.ml-22 {
  margin-left: 12.5rem;
}
.ml-23 {
  margin-left: 13rem;
}
.navbar-bottom {
  width: 80%;
  border-radius: 2rem;
  margin: 2.5rem;
}
.pb-15 {
  padding-bottom: 9rem;
}
.text-right {
  text-align: right;
}
.pt-6 {
  padding-top: 4rem;
}
.pb-6 {
  padding-bottom: 4rem;
}
.pt-7 {
  padding-top: 4.5rem;
}
.pb-7 {
  padding-bottom: 4.5rem;
}
.pb-8 {
  padding-bottom: 5rem;
}
.pb-9 {
  padding-bottom: 5.5rem;
}
.pt-15 {
  padding-top: 9rem;
}

.pb-15 {
  padding-bottom: 9rem;
}
.img-card {
  width: 248px;
  height: 183px;
  border-radius: 0.87rem;
}

.responsive-image {
  width: 100%;
  height: auto;
}
.text-main {
  color: #17345f;
}
.testimonial-image {
  width: 60%;
  height: auto;
  margin: auto;
}
.store-images {
  width: 450px;
  height: 250px;
}
@media only screen and (max-width: 600px) {
  /* For desktop: */
  /* .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;} */
  .blog-details {
    position:initial;
    margin-top: 0.5rem;
    font-size: 15px;
  }
  /* .download-image {
    width: 67%;
    height: initial;
  } */
  .download-info {
    
  }
  .download-content{
    flex-direction: column-reverse;
  }
  .hero-image {
    display: none;
  }
  .hero-info {
    padding: 6rem 2rem 6rem 2rem;

  }
  .hero-title{
    font-size: 44px;
  }
  .info-image {
    width: 320px;
    height: 220px;
  }
  .navbar-bottom {
    width: 100%;
    border-radius: 0rem;
    margin: 0;
  }
  .store-images {
    width: 250px;
    height: 150px;
  }
  .testimonial-image {
    width: 50%;
    height: auto;
    margin: auto;
  }
  .topbar-heading{
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 600px) {
  .blog-details {
    position:initial;
    margin-top: 0.5rem;
    font-size: 15px;
  }
  .download-links{
    margin-top: 1rem;
  }
  .hero-image{
    display: inline;
  }
  .hero-info {
    margin-top: 1rem;
    padding:2rem;
  }
  .hero-title{
    font-size: 34px;
  }
  .testimonial-image {
    width: 50%;
    height: auto;
    margin: auto;
  } 
  .topbar-heading{
    margin-left: auto;
    margin-right: auto;
  }
  }
  @media only screen and (min-width: 768px) {
    .blog-details {
      position:initial;
      margin-top: 0.5rem;
      font-size: 15px;
    }
    .download-links{
      margin-top: 1rem;
    }
    .hero-info {
      margin-top: 1rem;
      padding: 3rem 2rem 3rem 2rem;
    }
    .hero-title{
      font-size: 44px;
    }
    .testimonial-image {
      width: 90%;
      height: auto;
      margin: auto;
    } 
    .topbar-heading{
      margin-left: 7rem;
      margin-right: auto;
    }
  }
@media only screen and (min-width: 992px) {
  .blog-details {
    position: absolute;
    padding-top: 1rem ;
  }
  .blog-info{
    font-size: 1.2rem;
  }
  .download-links{
    margin-top: 1.2rem;
  }
  .hero-info {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 7rem;
  }
  .hero-title {
    font-weight: 700 !important;
    font-size: 64px;
  }
  .testimonial-image {
    width: 50%;
    height: auto;
    margin: auto;
  }
  .topbar-heading{
    margin-left: 9rem;
    margin-right: auto;
  }
}