body {
  background-color: #17345f;
}

.fexpertHeader{
    margin-top:2vh;
    margin-left:2vh;
    color:white;
}

.formContainer1 {
  margin-top:10vh;
  margin-left:5vh;
}
.Steps{
    color:white;
    margin-left:15vw;
}
.formpage {
  background-color: #fff;
  width: 900px;
  padding: 20px;
  max-width: 85vw;
  background-size: cover;
  background-position: center;
  margin-left: 15vw;
  justify-content: center;
  align-content: center;
  padding-left: 55px;
  height: 620px;
}
.content-type {
  column-count: 3;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom:20px;
}
.error{
    color:red;
    font-size:.6em;
    text-align:center;
}
.buttons {
  display: flex;
  align-content: center;
  width: 900px;
  margin-left: 15vw;
  background-color: white;
  padding-left: 55px;
  justify-content:space-between;
  
}

.fields{
    display:flex;
    flex-direction:column;
    width:200px;
    padding-bottom:10px;
    margin-bottom:10px;
}

.fields > label{
    font-style:italic;
    font-weight:500;
}
.text-input{
    border:none;
    background-color:lightgrey;
    border-radius:5px;
    height:30px;
    padding-left:10px
}
.buttons > button {
  background-color: #17345f;
  margin: 10px;
  color: white;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 88px;
  margin-left:0px
}

.buttons > button:hover{
    background-color:lightblue;
}

.contentTitle{
    margin-bottom:30px;
    margin-top:20px;
    
}

.large {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  margin-bottom:10px;
}
.large > label {
  font-style: italic;
  font-weight: 500;
}

.large-Fields{
  border: none;
  background-color: lightgrey;
  border-radius: 5px;
  height:85px;
  padding-left:10px;
  width:750px;
}
.Profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 70px;
  margin-bottom: 10px;
}
.Files {
  display: flex;
  flex-direction: column;
  width: 480px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.Files > label {
    font-style: italic;
    font-weight: 500;
  }
.File-input {
  border: none;
  background-color: lightgrey;
  border-radius: 5px;
  height: 30px;
  padding-left: 5px;
}
